/* =============================================================
   SCHEME SECTION STYLES
 ============================================================ */
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter"; /* Applying the imported font */
}

.scheme-section {
    min-height: 100%;
    padding: 40px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 1rem;
}

.scheme-container {
    width: 60%;
    background: #e2faeb;
    display: flex;
    margin: auto;
    padding: 40px;
    border-radius: 1rem;
}

.scheme-text h1 {
    font-size: 1.6rem;
    font-weight: bold;
    color: #007633;
    margin-bottom: 15px;
}

.scheme-text p {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: #212121;
    line-height: 1.2;
    margin-bottom: 25px;
}

.view-details {
    font-size: 20px;
    color: white;
    display: inline-block;
    padding: 10px 24px;
    margin-right: 20px;
    background-color: #007633;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.view-details:hover {
    background-color: #009640;
}

.modal-window {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}
.modal-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}
.modal-window > div {
    width: 80%;
    max-height: 80%;
    overflow-y: auto; /* Add scroll bar for overflow */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: white;
}
header {
    font-weight: bold;
}
h1 {
    font-size: 2rem;
    color: #007633;
    margin: 0 0 15px;
}

.modal-close {
    color: black;
    line-height: 50px;
    font-size: 20px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 150px;
    text-decoration: none;
}
.modal-close:hover {
    color: black;
}

.pop-para p {
    font-weight: 300;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
}

.pop-para ul {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.pop-para ul li {
    font-size: 20px;
    list-style: none;
    margin-bottom: -10px; /* Adjust the margin between list items */
}

a {
    color: inherit;
    text-decoration: none;
}

.pop-container {
    display: grid;
    justify-content: flex-start;
    align-items: center;
}

/* =============================================================
   MySCHEME SECTION STYLES
 ============================================================ */

.myschemes {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0px;
}
/* Simplified panel styles */
.custom-panel {
    width: 70%;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #f5f5f5;
}

.custom-panel-heading {
    background-color: #0d9b49;
    color: #fff;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.custom-panel-body {
    width: auto;
    padding: 15px;
    text-align: center;
}

/* Simplified table styles */
.custom-table {
    width: 100%; /* Adjust width to fit content */
    margin: 0 auto; /* Center align the table */
    background-color: #fff;
    border-collapse: collapse;
}

.custom-table th,
.custom-table td {
    padding: 12px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
}

.custom-table .edit-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.custom-table th {
    background-color: #0d9b49;
    color: #fff;
    font-weight: 600;
}

.custom-table tbody > tr:nth-child(even) {
    background-color: #f9f9f9;
}

.custom-table tbody > tr:hover {
    background-color: #f5f5f5;
}

/* =============================================================
    My Profile SECTION STYLES
  ============================================================ */

.profile-wrapper {
    background-color: #f7f7f7cc;
    border-bottom: 5px solid #007633;
    padding: 30px 0px;
    font-family: "Inter", sans-serif;
}

.profile-container {
    width: 600px;
    margin: 0 auto;
}

.header-line {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.profile-panel {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: #fff;
}

.profile-panel .panel-heading {
    background-color: #009640;
    color: #fff;
    padding: 10px 15px;
}

.profile-panel .panel-body {
    padding: 15px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    margin-bottom: 5px; /* Add a little gap after the labels */
}

.form-control {
    width: calc(100% - 20px); /* Adjust width to accommodate the padding */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* =============================================================
    Edit Schemes STYLES
  ============================================================ */

.schemes-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
}

.edit-schemes,
.edit-btn {
    font-weight: 600;
    background: #d3f8e1;
    color: #007633;
}

.edit-schemes:hover,
.edit-btn:hover {
    color: white;
}

.delete-schemes,
.delete-btn {
    background: #c9302c;
}

.delete-schemes:hover,
.delete-btn:hover {
    background: #7d1f1c;
}

/* =============================================================
    Edit USER STYLES
  ============================================================ */

.edit-user-custom-panel {
    width: 70%;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #f5f5f5;
}
